/* Import Google font Bayon */
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project base styles */
html, body, #root {
	height: 100%;
}

/* sensible defaults for the app background and font-smoothing */
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

